{{ define "main" }}
<div class="wrapper">
  <div class="row">
    <div style='padding: 1rem 0.9375rem 1rem;'>

      <h3><a href="http://lattes.cnpq.br/6298563785741278" class="badge badge-large"><i class="ai ai-lattes"></i> Curriculum Vitae</a></h3>
      <h3><a href="https://www.researchgate.net/profile/franzbischoff" class="badge badge-large"><i class="ai ai-researchgate"></i> ResearchGate</a></h3>
      <h3><a href="https://orcid.org/0000-0002-5301-8672" class="badge badge-large"><i class="ai ai-orcid"></i> ORCID</a></h3>
      <div style='padding-bottom: 2rem;'></div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-6">
      <h2>Unpublished working papers</h2>
      {{ range (where .Pages "Params.kind" "==" "unpublished").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-2 medium-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-10 medium-10">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
     </div>
     <div class="column small-12 medium-6">
      <h2>Published articles</h2>
      {{ range (where .Pages "Params.kind" "!=" "unpublished").GroupByDate "2006" "desc" }}
      <div class="row">
        <div class="column small-2 medium-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="column small-10 medium-10">
          <span style="font-size: 90%">
           <ul class="compact fa-ul">
             {{ range .Pages.ByDate.Reverse }}
             <li style="margin-bottom: 9px;">{{ partial "pub-summary" . }}</li>
             {{ end }}
           </ul></span>
         </div>
       </div>
       {{ end }}
     </div>
   </div>
 </div>
 {{ end }}
